- query.upmin_results.each do |result|
  .row.upmin-model{ class: result.color, style: 'margin-bottom: 0px;' }
    .row
      .col-xs-9{style: 'padding-left: 50px;'}
        %img{src: result.source.logo.url(:thumb), style: 'position: absolute;left:-5px;top: -20px; px' }
        %dd{href: "##{result.id}", 'data-toggle' => 'collapse', aria: { expanded: false, controls: "##{result.id}" }}
          = result.title
      .col-xs-3
        %i.fa.fa-star.fa-2x.pull-right
        %i.fa.fa-folder-open.fa-2x.pull-right
        %i.fa.fa-eye.fa-2x.pull-right

    .collapse{ id: result.id }
      .col-xs-12
        %dl.dl-horizontal
          %dt Categories
          %dd= result.categories.join(', ')
      .col-xs-12{style: 'overflow:hidden' }
        = result.description.html_safe
    .row
      .col-xs-3.col-md-2
        %b LinkedIn
        = result.linkedin
      .col-xs-3.col-md-2
        %b Twitter
        = result.twitter
      .col-xs-3.col-md-2
        %b Facebook
        = result.facebook

